html {
    background: linear-gradient(45deg, #C621E5, #7D7CF9);
    width: 100%;
    height: 100%;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1px;
    border: 1px solid black;
}   
h1{
    color: antiquewhite;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
input{
    margin: 10px 0;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 300px;
}

.button-container{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    width: 320px;
}
button{
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}