body {
    background-color: #98fd9c;
}
.container {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
button {
    background: #52fb38;
    color: #404040;
    border: none;
    padding: 15px 25px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
    font-weight: bold;  
}
img {
    max-width: 400px;
    padding: 10px;
}
h1 {
    color: #404040;
}
h3 {
    color: #8e8e8e;
    font-family: cursive;

}
