.main-image-content{
    display: block;
    -webkit-mask-image: url(images/tractor.png);
    mask-image: url(images/tractor.png);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-size: contain;
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
}